      <ul>
          <li>
              <a href="{{ .Permalink}}">{{ .Permalink}}</a>
          </li>
      </ul>

<br><br><Br>

<ul>
	{{ range $author_name, $taxonomy := .Site.Taxonomies.authors }}
		<li><a href="{{ .Page.Permalink }}">{{ $author_name }}</a> {{ .Count }}</li>

	{{ end }}
</ul>

<hr>
<ul>
{{ range .Site.RegularPages }}
{{ if ge .Params.Date.Unix now.Unix }}
    <li>
        <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
    </li>
{{ end }}
{{ end }}
</ul>
<hr>


<table id="list">
{{ range .Site.RegularPages.GroupByDate "2006-1" }}
    {{ range .Pages}}
    <tr>
        <td>{{- .Params.authors -}}</td>
        <td><a href="{{.Permalink}}">{{.Title}}</a></td> 
        <td>{{ .Date.Format "January" }}<td>
        <td>{{ .Date.Format "2006" }}<td>
        <td>{{ .Date.Format "Mon, Jan 2, 2006" }} <td>
       </tr>
    {{ end }}
{{ end }}
</table>

