<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode | default " pt-br " }}' prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#' class="po-page-{{.File.BaseFileName | urlize }}">
  
	{{ block "head" . }}{{ partialCached "head.html" . }}{{ end }}
	
	<body class='Type-is-{{ .Type }} Kind-is-{{ .Kind }} Section-is-{{ .Section }}'>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KRH8LC5"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

	  {{- partial "header.html" . -}}
	  
	  <div id="content">
	  	{{- block "main" . }}{{- end }}
	  </div>
	  
    {{ block "footer" . }}{{ partialCached "footer.html" . }}{{ end }}


<script type="text/javascript">
  
  (function (){
    'use strict';
  
    function init(){
			showHideElement()
    }

		function showHideElement(){
			
			const elementTrigger = document.querySelectorAll("[data-toggle]");
			
			Array.from(elementTrigger).forEach(elementTrigger => {
				elementTrigger.addEventListener('click', function(event) {
					const elementTarget = elementTrigger.getAttribute("data-toggle")
					document.querySelector(elementTarget).classList.toggle('po-active')

					if(elementTarget=="#po-search-form") {
						document.querySelector("#po-search-form input[type='text']").focus()
					}

					event.preventDefault();
				});
			});
		}

    init()
  }());

</script>

  </body>
</html>
