<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode | default " pt-br " }}' prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#' class="po-page-{{.File.BaseFileName | urlize }}">
  
	{{ block "head" . }}{{ partialCached "head.html" . }}{{ end }}
	
	<body class='Type-is-{{ .Type }} Kind-is-{{ .Kind }} Section-is-{{ .Section }}'>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KRH8LC5"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

	  {{- partial "header.html" . -}}
	  
	  <div id="content">
	  	{{- block "main" . }}{{- end }}
	  </div>
	  
    {{ block "footer" . }}{{ partialCached "footer.html" . }}{{ end }}


<script type="text/javascript">
  
  (function (){
    'use strict';
  
  
    function init(){
      toggleMenu();
      toggleNewsletter();
    }


		function toggleMenu(){

			const menubtn = document.querySelectorAll(".po-toggle-menu");
			const menu = document.querySelector("#po-menu");

			Array.from(menubtn).forEach(menubtn => {
				menubtn.addEventListener('click', function(event) {
					menu.classList.toggle('po-active')
				});
			});
		}


		function toggleNewsletter(){
			
			const newsbtn = document.querySelectorAll(".po-news-box");
			const newsoverlay = document.querySelector("#po-overlay-newsletter");
			
			Array.from(newsbtn).forEach(newsbtn => {
				newsbtn.addEventListener('click', function(event) {
					newsoverlay.classList.toggle('po-active')
					event.preventDefault();
				});
			});
		}



    init()
  }());

</script>

  </body>
</html>
