<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode | default " pt-br " }}' prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#'>
  
	{{ block "head" . }}{{ partialCached "head.html" . }}{{ end }}
	
	<body class='Type-is-{{ .Type }} Kind-is-{{ .Kind }} Section-is-{{ .Section }} {{.Params.title | urlize }}'>
	  {{- partial "header.html" . -}}
	  
	  <div id="content">
	  	{{- block "main" . }}{{- end }}
	  </div>
	  
    {{ block "footer" . }}{{ partialCached "footer.html" . }}{{ end }}

	
<script type="text/javascript">
  
  (function (){
    'use strict';
  
  
    function init(){
      toggleMenu();
    }

		const menubtn = document.querySelectorAll(".po-toggle-menu");
		const menu = document.querySelector("#po-menu");

		function toggleMenu(){
				Array.from(menubtn).forEach(menubtn => {
					menubtn.addEventListener('click', function(event) {
					menu.classList.toggle('po-active')
				});
			});
		}

    init()
  }());

</script>
  </body>
</html>
