{{ define "main" }}

<section class="tb-list">


  {{ if eq .Section "categories" }}
    Artigos da categoria <strong>{{.Title}}</strong>
  {{ end }}

  {{ if eq .Section "tags" }}
    Artigos da tag <strong>{{.Title}}</strong>
  {{ end }}


  {{ if eq .Section "authors" }}
    {{ $author_post_details := where .Site.Data.authors.author ".name" .Title }}
    
    {{range $author_post_details}}
      
      <img src="{{.avatar}}" alt="Foto de {{.name}}">

    {{end}} 
  
    <strong>{{.Title}}</strong>

    <p>

      {{range $author_post_details}}
      
        {{.minibio}}

      {{end}}
    </p>

  {{ end }}


  <ul class="po-list-posts">
    {{range .Data.Pages}}
      <li>
        <a href="{{.Permalink}}">{{.Title}}</a><br>
        {{ .Params.experpt}}
      </li>
    {{end}}
  </ul>
    
</section>
{{end}}

