{{ define "main" }}

<header id="po-article-header">
  <ul class="po-list-categs">
    {{ range .Params.categories }}
    <li><a href="/categories/{{ . | urlize }}?utm_source=po_single&utm_medium=link_categ_single&utm_campaign=po_internal_link">{{ . }}</a></li>
    {{ end }}
  </ul>
  <h1>{{.Title}}</h1>
  <h2>{{ .Params.excerpt }}</h2>
</header>

<section class="po-container">

  <article id="po-article">
    
    <div class="po-article-text">
      {{if .Params.image}}<figure class="po-single-img"><img src="{{.Params.image}}" alt="{{if .Params.excerpt}}Imagem de destaque de {{.Title}}{{end}}"></figure>{{end}}
      {{.Content}}
    </div>
    <aside class="po-sidebar">
      <div class="po-sidebar-author">
        
        {{ $postauthor := .Params.authors }}
        {{ range where (where .Site.Pages "Type" "authors") ".Params.name" "=" $postauthor }}
        
          <img src="{{ .Params.avatar }}" alt="Foto de {{.Params.name}}">
          <div>
            <p>
              <a href='{{ "/authors/" | relLangURL }}{{ .Params.name | urlize }}?utm_source=po_single&utm_medium=link_author_name&utm_campaign=po_internal_link'>{{ .Params.name }}</a><br>
              <span class="po-minibio">{{ .Params.minibio }}</span>
            </p>
            <ul class="po-author-midia">

              {{if .Params.twitter}}<li><a class="po-author-midia-icon-twitter" href="https://twitter.com/{{.Params.twitter}}">{{.Params.twitter}}</a></li>{{end}}
              {{if .Params.linkedin}}<li><a class="po-author-midia-icon-linkedin" href="{{.Params.linkedin}}">{{.Params.linkedin}}</a></li>{{end}}
              {{if .Params.site}}<li><a class="po-author-midia-icon-site" href="{{.Params.site}}">{{.Params.site}}</a></li>{{end}}
              {{if .Params.other}}<li><a class="po-author-midia-icon-other" href="{{.Params.other}}">{{.Params.other}}</a></li>{{end}}

            </ul>
          </div>
        {{ end }}
      
      </div>

      {{/*partial "comments.html"*/}}
      
      <span class="po-time-read">~ {{.ReadingTime}} min. / {{.WordCount}} palavras</span>
    
      <nav class="po-posts-same-author">
        <h3>Mais artigos de {{.Params.authors}} </h3>
        <ul>
          {{ range first 5 (where .Site.RegularPages "Params.authors" .Params.authors )}}
          <li><a href="{{.Permalink}}?utm_source=po_single&utm_medium=link_articles_author&utm_campaign=po_internal_link" data-event="lnk-posts-sameAuthor">{{.Title}}</a></li>
          {{end}}
        </ul>
      </nav>


      <!-- <div class="po-banner-sidebar">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-8115861735629092"
             data-ad-slot="4068228634"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div> -->
      
    </aside>

    
  </article>
</section>

<!-- 
<section id="po-comments">

  <div class="po-comments-inner">

    <div id="graphcomment"></div>
    <script type="text/javascript">
    
      /* - - - CONFIGURATION VARIABLES - - - */
    
      // make sure the id is yours
      window.gc_params = {
        graphcomment_id: 'product-oversee',
    
        // if your website has a fixed header, indicate it's height in pixels
        fixed_header_height: 0,
      };
    
      /* - - - DON'T EDIT BELOW THIS LINE - - - */
    
      
      (function() {
        var gc = document.createElement('script'); gc.type = 'text/javascript'; gc.async = true;
        gc.src = 'https://graphcomment.com/js/integration.js?' + Math.round(Math.random() * 1e8);
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
      })();
    
    </script>
  </div>
</section> -->

{{end}}
