{{ define "main" }}

<header id="po-article-header">
  <ul class="po-list-categs">
    {{ range .Params.categories }}
    <li><a href="/categories/{{ . | urlize }}">{{ . }}</a></li>
    {{ end }}
  </ul>
  <h1>{{.Title}}</h1>
  <h2>{{ .Params.excerpt }}</h2>
</header>

<section class="po-container">

  <article id="po-article">
   
     
    <aside class="po-sidebar">
      
      
      <div class="po-sidebar-author">
        {{ $author_post_details := where .Site.Data.authors.author ".name" .Params.authors }}

      {{range $author_post_details}}
        <img src="{{.avatar}}" alt="">
      {{end}}
        <div>
          <p>
            {{ with .Params.authors }}
              <a href="{{ "/authors/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> 
            {{ end }}
            <span class="po-minibio">{{range $author_post_details}}
              {{if .minibio}}{{.minibio}}{{end}}
            {{end}}</span>
          </p>
          <ul class="po-author-midia">
            {{range $author_post_details}}
            {{if .twitter}}<li><a class="po-author-midia-icon-twitter" href="https://twitter.com/{{.twitter}}">{{.twitter}}</a></li>{{end}}
            {{if .linkedin}}<li><a class="po-author-midia-icon-linkedin" href="https://linkedin.com/in/{{.linkedin}}">{{.linkedin}}</a></li>{{end}}
            {{if .site}}<li><a class="po-author-midia-icon-site" href="{{.site}}">{{.site}}</a></li>{{end}}
            {{if .other}}<li><a class="po-author-midia-icon-other" href="{{.other}}">{{.other}}</a></li>{{end}}
            {{end}}
          </ul>
        </div>
      </div>

      {{/*partial "comments.html"*/}}
      
      <a href="https://twitter.com/intent/tweet?screen_name=TwitterDev&description=Teste&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @TwitterDev</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

      <span class="po-time-read">~ {{.ReadingTime}} min. / {{.WordCount}} palavras</span>
    
      <nav class="po-posts-same-author">
        <h3>Mais artigos do {{.Params.authors}} </h3>
        <ul>
          {{ range first 5 (where .Site.RegularPages "Params.authors" .Params.authors )}}
          <li><a href="{{.Permalink}}">{{.Title}}</a></li>
          {{end}}
        </ul>
      </nav>

      
    </aside>
    
    <div class="po-article-text">
      {{if .Params.image}}<figure class="po-single-img"><img src="{{.Params.image}}" alt="{{if .Params.excerpt}}Imagem de destaque de {{.Title}}{{end}}"></figure>{{end}}
      {{.Content}}
    </div>
    
  </article>
</section>

<!-- 
<section id="po-comments">

  <div class="po-comments-inner">

    <div id="graphcomment"></div>
    <script type="text/javascript">
    
      /* - - - CONFIGURATION VARIABLES - - - */
    
      // make sure the id is yours
      window.gc_params = {
        graphcomment_id: 'product-oversee',
    
        // if your website has a fixed header, indicate it's height in pixels
        fixed_header_height: 0,
      };
    
      /* - - - DON'T EDIT BELOW THIS LINE - - - */
    
      
      (function() {
        var gc = document.createElement('script'); gc.type = 'text/javascript'; gc.async = true;
        gc.src = 'https://graphcomment.com/js/integration.js?' + Math.round(Math.random() * 1e8);
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
      })();
    
    </script>
  </div>
</section> -->

{{end}}