<ul>
	{{ range $author_name, $taxonomy := .Site.Taxonomies.authors }}
		<li><a href="{{ .Page.Permalink }}">{{ $author_name }}</a> {{ .Count }}</li>

	{{ end }}
</ul>


<table id="list">
{{ range .Site.RegularPages.GroupByDate "2006-1" }}
    {{ range .Pages}}
    <tr>
        <td>{{- .Params.authors -}}</td>
        <td><a href="{{.Permalink}}">{{.Title}}</a></td> 
        <td>{{ .Date.Format "January" }}<td>
        <td>{{ .Date.Format "2006" }}<td>
        <td>{{ .Date.Format "Mon, Jan 2, 2006" }}<td>
       </tr>
    {{ end }}
{{ end }}
</table>

