{{ define "main" }}




<section class="tb-list">

  <div class="po-section-head po-section-{{.Section}}">
    <div class="po-container">
        <h1 class="po-title-h1">{{.Title}}</h1>
        <p class="po-excerpt">{{ .Param "excerpt" }}</p>
    </div>
  </div>


  <div class="po-container">
    <ul class="po-list-posts">
      {{ range where .Site.RegularPages "Params.type" "post" }}
      
        <li>
          <a href="{{ .Permalink }}">
            <figure>
              {{if .Params.image}}<img src="{{ .Params.image }}" alt="">{{else}}<img src="/images/missing.jpg">{{end}}
            </figure>
            
            <span class="po-date">{{ dateFormat "02/1/06" .Date.UTC }}</span>

            <h4 class="po-title-h4">{{ .Title }}</h4>
          </a>

            <a href='{{ "/authors/" | relLangURL }}{{ .Params.authors | urlize }}?utm_source=po_all_posts&utm_medium=link_author_name&utm_campaign=po_internal_link' class="po-author">Por {{ .Params.authors }}</a>
        </li>
      {{end}}
    </ul>
  </div>
    
</section>


{{end}}

