
{{if .Params.sponsor }}

  {{ if (index .Site.Params.sponsor .Params.sponsor).active }}

    <div class="po-sponsor-paragraph">

      <a href="{{ (index .Site.Params.sponsor .Params.sponsor).site }}?utm_source=ProductOversee&utm_medium=article_ProductOversee&utm_campaign=parceria_ProductOversee" class="logo-{{ (index .Site.Params.sponsor .Params.sponsor).name }}">
        <img src="{{ (index .Site.Params.sponsor .Params.sponsor).logo }}" alt="Um apoio do Patrocinador - {{ (index .Site.Params.sponsor .Params.sponsor).name }}">
      </a>

      <p>
        {{ (index .Site.Params.sponsor .Params.sponsor).paragraph_description }}
      </p>

    </div>

  {{end}}

{{end}}