
{{if .Params.sponsor }}

  {{ if (index .Site.Params.sponsor .Params.sponsor).active }}
  <div class="po-sponsor-sidebar" id="sponsor-{{ (index .Site.Params.sponsor .Params.sponsor).name }}">

    <a href="{{ (index .Site.Params.sponsor .Params.sponsor).site }}?utm_source=ProductOversee&utm_medium=sidebarLogo_ProductOversee&utm_campaign=parceria_ProductOversee" class="po-sidebar-logo-sponsor" id="logo-{{ (index .Site.Params.sponsor .Params.sponsor).name }}">
      <img src="{{ (index .Site.Params.sponsor .Params.sponsor).banner }}" alt="Logo do patrocinador - {{ (index .Site.Params.sponsor .Params.sponsor).name }}" data-event="lnk-sponsor-sidebarLogo">
    </a>

  </div>


  {{end}}

{{else}}
<div class="po-banner-sidebar" id="banner-ph">

	<a href=" https://www.producthaus.com.br/a/2147501430/gER76vo6?utm_source=ProductOversee&utm_medium=sidebarBanner_ProductOversee&utm_campaign=banner_ProductOversee" target="_blank" class="po-banner-sidebar-lnk" id="po-banner-ph">
		<img src="/images/banner-product-haus.jpg" alt="O seu Netflix de cursos e conteúdos sobre gestão de produtos digitais" data-event="lnk-banner-sidebar">
	</a>

</div>
{{end}}