<a class="po-lnk-comment" onclick="showGraphCommentOverlay()"><b class="gc-counter" data-url="{{ .Permalink }}"></b> Comentários </a>


<div id="graphcomment"></div>

<script type="text/javascript">

  /* - - - CONFIGURATION VARIABLES - - - */

  // make sure the id is yours
  window.gc_params = {
    graphcomment_id: 'product-oversee',
    overlay: {"width":480,"button":{"background":"#f35b5b","color":"#ffffff","label":"Comentários"}},
  };

  /* - - - DON'T EDIT BELOW THIS LINE - - - */

  
  (function() {
    var gc = document.createElement('script'); gc.type = 'text/javascript'; gc.async = true;
    gc.src = 'https://graphcomment.com/js/integration.js?' + Math.round(Math.random() * 1e8);
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
  })();

</script>