<div id="po-endpage">

  <div id="po-pre-footer" class="po-container">
    <div class="po-newsletter-footer">
      <h3>Torne sua inbox mais interessante às quartas-feiras.</h3>
      <p>Assinantes da Newsletter recebem duas semanas antes conteúdos que serão publicados no portal. Saiba antes como impactar sua carreira, negócio e produto.</p>

      {{ partial "newsletter-footer.html"}}

    </div>
    <div class="po-mentoring-box">
      <h3>Escreva conosco e vamos questionar os padrões e os processos do mercado e da profissão de produtos.</h3>
      <a href="/escreva-conosco/" class="po-btn">Ver detalhes</a>
    </div>
  </div>

  <footer id="po-footer">
    <a href="/" class="po-footer-logo">
      <img src="/images/logo-black.png" alt="">
    </a>
    <div class="po-footer-navs">
      <div class="po-container">
        <nav>
          <ul>
            <li><a href="#" data-toggle="#po-overlay-newsletter">Assine a Newsletter Oversee</a></li>
            <li><a href="/escreva-conosco/">Escreva conosco</a></li>
          </ul>
        </nav>
        <nav>
          <h3>Categorias</h3>
          <ul>
            <li><a href="/categories/opiniao/">Opinião</a></li>
            <li><a href="/categories/estrategia/">Estratégia</a></li>
            <li><a href="/categories/tatico/">Tático</a></li>
            <li><a href="/categories/design/">Design</a></li>
            <li><a href="/categories/indicadores-dados/">Indicadores e Dados</a></li>
            </ul>
        </nav>
        <nav>
          <ul>
            <li><a href="/sobre">Sobre o Product Oversee</a></li>
            <li><a href="mailto:productoversee@gmail.com">Contato</a></li>
            <!-- <li><a href="#">Media Kit</a></li> -->
          </ul>
        </nav>
      </div>
    </div>
    <p class="po-footer-manifest">Somos um grupo de pessoas atuantes na área de gestão de Serviços Digitais, que colaboram, experimentam e provocam a busca por novos pontos de vista, impulsionando o pensamento crítico e a maestria das pessoas que constróem serviços e produtos digitais no Brasil.</p>
  </footer>

	
  <div id="po-overlay-newsletter" aria-hidden="true">

    <div class="po-box-newsletter" aria-labelledby="Newsletter da Product Oversee" aria-describedby="Se inscreva na nossa newsletter para receber um artigo por semana, todas as quartas-feiras." role="dialog"  tabindex="-1">
      <span  data-toggle="#po-overlay-newsletter" class="po-close-news" aria-label="Feche essa modal"></span>
      <script type="text/javascript" src="https://cdn.sender.net/webforms/17648/f06c69d3.js?v=4"></script>
    </div>
  
  </div>
  
</div>
