<header id="po-header">
  <div class="po-container po-header-inner">
    <div class="po-header-tools">
      <span class="po-sandwich po-toggle-menu" data-toggle="#po-menu">
        <img src="/images/sandwich.png" alt="">
      </span>
      <span class="po-search" data-toggle="#po-search-form">
        <img src="/images/icon-search.png" alt="">
      </span>
    </div>

    <form id="po-search-form" name="x" action="//duckduckgo.com/">
      <input type="hidden" value="productoversee.com" name="sites"></input>
      <input type="hidden" value="br-pt" name="kl"></input>
      <input type="hidden" value="1" name="kz"></input>
      <input type="hidden" value="e" name="ky"></input>
      <input type="hidden" value="g" name="k8"></input>
      <input type="hidden" value="-1" name="k1"></input>
      <input type="hidden" value="w" name="kj"></input>
      <input type="text" placeholder="Faça sua busca" name="q"></input>
      <!-- <input type="image" src="{{ .Site.BaseURL }}images/search.svg"> -->
    </form> 

    <h1 class="po-logo">
      <a href="/" title="Product Oversee - O Primeiro portal de conteúdo para pessoas que constróem produtos no Brasil">
        Product Oversee
      </a>
    </h1>

    <ul class="po-header-social">
      <li class="po-social-rss"><a target="_new" data-event="lnk-twitter-header" href="https://productoversee.com/index.xml">RSS</a></li>
      <li class="po-social-potwitter"><a target="_new" data-event="lnk-rss-header" href="https://twitter.com/productoversee/">Twitter</a></li>
    </ul>
    {{ partial "minimenu.html"}}

  </div>
  <menu id="po-menu">
    <div class="po-container">
      <span class="po-menu-close" data-toggle="#po-menu">Fechar</span>

      <nav class="po-menu-categs">
        {{range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
          <a href="{{.Permalink}}">
            <h2>{{.Title}}</h2>

          {{ $category_details := where .Site.Data.categories.category ".name" .Title }}
        
          {{range $category_details}}
            <p>{{.description}}</p>
          {{end}}
  
          </a>

        {{end}}
      </nav>

      {{ partial "minimenu.html"}}

    </div>
  </menu>
</header>