<header id="po-header">
  <div class="po-container">
    <div class="po-header-tools">
      <div id="po-menu">
        <span class="po-sandwich">
          <img src="/images/sandwich.png" alt="">
        </span>
      </div>
      <span class="po-search">
        <img src="/images/icon-search.png" alt="">
      </span>
    </div>

    <h1 class="po-logo">
      <a href="/"><img src="/images/logo-bg-white.png" alt="Product Oversee - O Primeiro portal de conteúdo para pessoas que constróem produtos no Brasil"></a>
    </h1>

    <nav id="po-header-menu">
      <ul>
        <li><a href="/mentoria">Mentoria</a></li>
        <li><a href="/newsletter">Newsletter</a></li>
      </ul>
    </nav>

  </div>
</header>