
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KRH8LC5');</script>
  <!-- End Google Tag Manager -->


  <!-- <script type="text/javascript" src="https://ads.vidoomy.com/productoversee.com_14188.js" async></script> -->
  <link rel="shortcut icon" href="{{ .Site.BaseURL}}favicon.ico">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ .Site.BaseURL}}css/all.css?{{ now.Unix }}">
  <link rel="stylesheet" href="{{ .Site.BaseURL}}css/footer.css?{{ now.Unix }}">
  
  <link rel="prerender" href='{{ range first 1 (where .Site.Pages "Type" "post" )}}{{.Permalink}}{{end}}'>


  {{ if eq "home" .Kind }}
  <meta property="og:type" content="website">

  <link rel="stylesheet" href="{{ .Site.BaseURL}}css/home.css?{{ now.Unix }}">
	<title>{{.Site.Title}}</title>

  {{end}}

  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600&family=Roboto&display=swap" rel="stylesheet">
  
  <link rel="preconnect" href="https://fonts.gstatic.com">

  <meta name="author" content="{{ .Params.authors }}">
  <meta name="description" content="{{if .Params.excerpt }}{{.Params.excerpt}}{{else}}{{.Summary}}{{end}}">

  {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  <link rel="canonical" href='{{ if $.Param "canonical" }}{{ $.Param "canonical" }}{{else}}{{.Permalink}}{{end}}'>

  {{ if eq "page" .Kind }}
	<title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} - {{ end }}Product Oversee{{ end }}</title>

  <meta property="og:type" content="article">
  {{end}}
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:title" content="{{ .Title}}">
  <meta property="og:author" content="{{ .Params.authors}}">
  <meta property="og:date" content="{{ .Params.publishDate}}">
  
  <meta property="og:description" content="{{if .Params.excerpt }}{{.Params.excerpt}}{{else}}{{.Summary}}{{end}}" name="description">
  <meta property="og:image" content="{{ with .Params.image }}{{ . }}{{ else }}/images/missing.jpg{{ end }}">
  
  <meta property="fb:app_id" content="187329465112652">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@productoversee">
  <meta name="twitter:title" content="{{.Title}}">
  <meta name="twitter:description" content="{{if .Params.excerpt }}{{.Params.excerpt}}{{else}}{{.Summary}}{{end}}">
  <meta name="twitter:image" content="{{ with .Params.image }}{{ . }}{{ else }}/images/missing.jpg{{ end }}">


  {{ if eq "posts" .Section }}

  <!-- <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5fa3c7fa742843001990ec2c&product=sticky-share-buttons" async="async"></script> -->
  
  <link rel="stylesheet" href="{{ .Site.BaseURL}}css/single.css?{{ now.Unix }}">
  
  <script type="application/ld+json">
    { "@context": "https://schema.org",
      "@type": "Article",
      "headline": "{{.Title}}",
      "author": "{{with .Params.authors}}{{ . }}{{end}}",
      "image": "{{ .Params.image }}",
      "publisher": {
        "@type" : "Organization",
        "name":"{{.Site.Params.siteName}}",
        "logo":"https://productoversee.com/images/logo-bg-white.png"
        },
      "url": "{{ .Permalink }}",
      "wordCount": "{{ .FuzzyWordCount }}",
      "keywords": "{{.Params.tags}}",
      "datePublished": "{{ .Date.Format "02/01/2006"}}",
      "dateCreated": "{{ .Date.Format "02/01/2006"}}",
      "articleBody": "{{ .Content }}",
      "description": "{{if .Param "excerpt"}}{{ .Param "excerpt" }}{{else}}{{ .Summary }}{{end }}"
    }
  </script>

  
  {{end}}

  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>

<!-- <script>
  (function (s, e, n, d, er) {
    s['Sender'] = er;
    s[er] = s[er] || function () {
      (s[er].q = s[er].q || []).push(arguments)
    }, s[er].l = 1 * new Date();
    var a = e.createElement(n),
        m = e.getElementsByTagName(n)[0];
    a.async = 1;
    a.src = d;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://cdn.sender.net/accounts_resources/universal.js', 'sender');
  sender('cc37bf1ee61714')
</script> -->