<header id="po-header">
  <div class="po-container">
    <div class="po-header-tools">
      <span class="po-sandwich po-toggle-menu">
        <img src="/images/sandwich.png" alt="">
      </span>
      <span class="po-search">
        <img src="/images/icon-search.png" alt="">
      </span>
    </div>

    <h1 class="po-logo">
      <a href="/"><img src="/images/logo-bg-white.png" alt="Product Oversee - O Primeiro portal de conteúdo para pessoas que constróem produtos no Brasil"></a>
    </h1>

    <nav id="po-header-menu">
      <ul>
        <li><a href="/mentoria">Mentoria</a></li>
        <li><a href="/newsletter">Newsletter</a></li>
      </ul>
    </nav>

  </div>
  <menu id="po-menu">
    <div class="po-container">
      <span class="po-menu-close po-toggle-menu">Fechar</span>

      <nav class="po-menu-categs">
        <a href="/categories/opiniao/">
          <h2>Opinião</h2>
          <p>Como nossos autores enxergam o mundo de produtos digitais, analisando mercado, negócios, pessoas e processos.</p>
        </a>
        <a href="/categories/estrategia/">
          <h2>Estratégia</h2>
          <p>Como criamos um produto e um serviço contemplando visões de negócio, mercado e comportamento da sociedade.</p>
        </a>
        <a href="/categories/tatico/">
          <h2>Tático</h2>
          <p>Construção de produto do ponto de vista executivo, desdobrando as visões de negócio para a materialização do produto em software.</p>
        </a>
        <a href="/categories/design/">
          <h2>Design</h2>
          <p>Visão da experiência sentida pelo usuário no momento do uso, descobrindo oportunidades de impacto positivo.</p>
        </a>
        <a href="/categories/dados/">
          <h2>Dados</h2>
          <p>Controlando o produto por meio de indicadores e métricas que nos dizem como o usuário se comporta no nosso ambiente.</p>
        </a>
      </nav>

      <nav class="po-minimenu">
        <a href="#">Mentoria</a>
        <a href="#">Newsletter</a>
        <a href="/sobre/">Sobre</a>
        </ul>
      </nav>

    </div>
  </menu>
</header>