<nav class="po-minimenu">
  <ul>
    <li>
      <span>Úteis</span>
      <ul>
        <li><a target="_blank" href="https://miro.com/app/board/o9J_lf2HMtA=/?invite_link_id=260017868549" data-event="lnk-minimenu-miro">Miro</a></li>
        <li><a href="/pm-toolkit" data-event="lnk-minimenu-pmtoolkit">PM Toolkit</a></li>
        <li><a href="/livros-para-pms" data-event="lnk-minimenu-livros" class="po-hide-header">Livros Recomendados</a></li>
      </ul>
    </li>
    <li><a href="/newsletter" data-togle="#po-overlay-newsletter" data-event="lnk-minimenu-newsletter">Newsletter</a></li>
    <!-- <a href="/authors/" data-event="lnk-minimenu-authors">Autores</a> -->
    <li><a href="/escreva-conosco/" data-event="lnk-minimenu-escreva">Escreva conosco</a></li>
    <li><a href="http://bit.ly/midiakit-productoversee" data-event="lnk-minimenu-anuncie">Anuncie</a></li>
    <!-- <li><a href="/sobre/" data-event="lnk-minimenu-sobre">Sobre</a></li> -->
  </ul>
</nav>