
{{ define "main" }}


{{ $posts := (where .Site.RegularPages "Section" "posts") }}
{{ $featured_posts := (where $posts ".Params.featured_post" "=" true)  }}

<div class="po-container">

  <div class="po-top">
    <section class="po-left-list">
      {{range first 2 (after 1 $posts) }}
        <div>
          <a href="{{ .Permalink }}">
            <figure>
              <img src="{{ .Params.image }}" alt="">
            </figure>
          </a>
            <ul class="po-list-categs">
              {{ range .Params.categories }}
                <li><a href="/categories/{{ . | urlize }}">{{ . }}</a></li>
              {{ end }}
            </ul>
            <a href="{{ .Permalink }}" class="po-list-text">
              <h2>{{ .Title }}</h2>
              <!-- <p>{{.Params.excerpt}}</p> -->
            </a>
        </div>
      {{ end }}
    </section>

    {{range first 1 $posts }}
    
      <a href="{{ .Permalink }}" id="po-middle-post">
        <img src="{{ .Params.image }}" alt="">
        
        <h1>{{ .Title }}</h1>
        <p>{{ .Params.excerpt }}</p>
        <span class="po-author">{{ .Params.authors }}</span>
      </a>

    {{ end }}

    <section class="po-right-list">
      {{range first 4 (after 3 $posts) }}
        <div>
            <figure>
              <a href="{{ .Permalink }}">
                <img src="{{ .Params.image }}" alt="">
              </a>
            </figure>
          <span>
            <ul class="po-list-categs">
              {{ range .Params.categories }}
                <li><a href="/categories/{{ . | urlize }}">{{ . }}</a></li>
              {{ end }}
            </ul>
            <a href="{{ .Permalink }}" class="po-list-text">
              <h2>{{ .Title }}</h2>
              <!-- <p>{{.Params.excerpt}}</p> -->
            </a>
          </span>
        </div>
      {{ end }}
    </section>
  </div>
  
  <section class="po-section po-featured-posts">
    <h2 class="po-title-h2 po-align-center">
      Esses são nossos recomendados
    </h2>
    <div>
      {{ range first 1 $featured_posts }}
        <div class="po-first-featured-post">
          <figure>
            <a href="{{ .Permalink }}">
              <img src="{{ .Params.image }}" alt="">
            </a>
          </figure>
          <ul class="po-list-categs">
            {{ range .Params.categories }}
              <li><a href="/categories/{{ . | urlize }}">{{ . }}</a></li>
            {{ end }}
          </ul>
          <a href="{{ .Permalink }}">
            <h2 class="po-title-h3">{{ .Title }}</h2>
            <p>{{.Params.excerpt}}</p>
          </a>
        </div>
      {{ end }}
      <ul class="po-featured-list">
      {{ range first 4 (after 1 $featured_posts )}}
        <li class="po-post-vertical-list">
          <figure>
            <a href="{{ .Permalink }}">
              <img src="{{ .Params.image }}" alt="">
            </a>
          </figure>
          <div>
            <ul class="po-list-categs">
              {{ range .Params.categories }}
                <li><a href="/categories/{{ . | urlize }}">{{ . }}</a></li>
              {{ end }}
            </ul>
            <a href="{{ .Permalink }}">
              <h4 class="po-title-h4">{{ .Title }}</h4>
            </a>
          </div>
        </li>
      {{ end }}
      </ul>
    </div>
  </section>

  <div class="po-sides">

    <section class="po-authors-list">
      <h2 class="po-title-h2">
        Autores
      </h2>

      <ul>
        {{ range .Site.Data.authors.author }}
        <li class="po-author-{{ .name | urlize }}">
          <a href="{{ "/authors/" | relLangURL }}{{ .name | urlize }}">
            <img src="{{ .avatar }}" alt="">
            <h4 class="po-title-h4">{{ .name  }}</h4>
            <p>{{ .minibio }}</p>
          </a>
        </li>
        {{ end }}
      </ul>

      <div class="po-banner-authors">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- home-vertical -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-8115861735629092"
             data-ad-slot="4615023542"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>


    </section>

    <section class="po-latest-posts">
      <h2 class="po-title-h2">
        Últimas
      </h2>

      <ul>
      {{range first 7 (after 5 $posts) }}
        <li class="po-post-vertical-list">
            <figure>
              <a href="{{ .Permalink }}">
                <img src="{{ .Params.image }}" alt="">
              </a>
            </figure>
          <div>
            <ul class="po-list-categs">
              {{ range .Params.categories }}
                <li><a href="/categories/{{ . | urlize }}">{{ . }}</a></li>
              {{ end }}
            </ul>
            <a href="{{ .Permalink }}" class="po-list-text">
              <h2>{{ .Title }}</h2>
            </a>
          </div>
        </li>
      {{ end }}
      </ul>
    </section>

    <section class="po-podcasts-list">
      <h2 class="po-title-h2">
        Vale a pena ouvir
      </h2>
      
      <iframe src="https://open.spotify.com/embed-podcast/show/7uRmxP1l3m9kwrsTYxnIMA" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      <br><br>
      <iframe src="https://open.spotify.com/embed-podcast/show/1rfUWxL2Ia7kA343ClLya1" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      <br><br>
      <iframe src="https://open.spotify.com/embed-podcast/show/5PD1bRaJz3irxq712zF566" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      
      
      <div class="po-banner-rightHome">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- home-square -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-8115861735629092"
             data-ad-slot="1604565444"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
      
      
      
      <!-- 
      <script type="text/javascript" src="https://rss2json.com/gfapi.js"></script>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

      <script type="text/javascript">

      google.load("feeds", "1");

      function initialize() {
        var feed = new google.feeds.Feed("https://anchor.fm/s/d7f5154/podcast/rss");
        feed.load(function(result) {
          if (!result.error) {
            var container = document.getElementById("feed");
            for (var i = 0; i < result.feed.entries.length; i++) {
              var entry = result.feed.entries[i];
              var div = document.createElement("div");
              var img = document.createElement("img");
              div.appendChild(document.createTextNode(entry.title));
              // div.appendChild(document.createTextNode(entry.content));
              img.src = entry.thumbnail;
              container.appendChild(div);
              container.appendChild(img);
            }
          }
        });
      }
      google.setOnLoadCallback(initialize);

      </script>
      <div id="feed"></div> -->
  <!-- 
      <ul>
        <li>
          <a href="#" class="po-podcast-item">
            <img src="/images/podcast1.png" alt="">
            <h2>#53 Demian Boarba - Existe vida além do Produto e do CNPJ</h2>
          </a>
        </li>
        <li>
          <a href="#" class="po-podcast-item">
            <img src="/images/podcast2.png" alt="">
            <h2>#35 Cultura de Produto</h2>
          </a>
        </li>
        <li>
          <a href="#" class="po-podcast-item">
            <img src="/images/podcast3.png" alt="">
            <h2>#52 Daiany Correa - O diário de um PO na Magazine Luiza</h2>
          </a>
        </li>
        <li>
          <a href="#" class="po-podcast-item">
            <img src="/images/podcast1.png" alt="">
            <h2>#53 Demian Boarba - Existe vida além do Produto e do CNPJ</h2>
          </a>
        </li>
        <li>
          <a href="#" class="po-podcast-item">
            <img src="/images/podcast2.png" alt="">
            <h2>#35 Cultura de Produto</h2>
          </a>
        </li>
        <li>
          <a href="#" class="po-podcast-item">
            <img src="/images/podcast3.png" alt="">
            <h2>#52 Daiany Correa - O diário de um PO na Magazine Luiza</h2>
          </a>
        </li>
        <li>
          <a href="#" class="po-podcast-item">
            <img src="/images/podcast1.png" alt="">
            <h2>#53 Demian Boarba - Existe vida além do Produto e do CNPJ</h2>
          </a>
        </li>
        <li>
          <a href="#" class="po-podcast-item">
            <img src="/images/podcast2.png" alt="">
            <h2>#35 Cultura de Produto</h2>
          </a>
        </li>
        <li>
          <a href="#" class="po-podcast-item">
            <img src="/images/podcast3.png" alt="">
            <h2>#52 Daiany Correa - O diário de um PO na Magazine Luiza</h2>
          </a>
        </li>
      </ul> -->
    </section>

  </div>


</div>

{{ end }}
