@import url(fonts.css);
@import url(form-newsletter.css);

/**** VARIABLES ****/
:root {
  --colorRed: #FC0D1B;
  --colorBlack: #121212;
  --colorBlackStrong: #000000;
  --colorGrayLight: #E5E5E5;
  --colorGrayMedium: #4F4F4F;
  --fontDefault: "The Future Mono 02", monospace;
  --fontMono: "The Future Mono 02", monospace;
  --fontArticle: Roboto, arial, helvetica, sans-serif;
  --breakpoint: 900px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
  color: var(--colorBlack);
  text-rendering: optimizeLegibility;
}

img {max-width: 100%;}

a {
  color: var(--colorBlack);
  transition: color linear .15s;
  text-decoration: none;
}

a:hover {
  color: #FF0000;
  text-decoration: underline;
}

.po-container {
  margin: 0 auto;
  max-width: 1260px;
  padding: 0 20px;
}

body {
  border-top: 5px solid var(--colorRed);
}

a:hover,
a:hover *,
.po-list-text:hover h2,
.po-list-text:hover h2 ~ p {color: #ff0000 !important;}

@media only screen and (max-width: 900px) {
  ul,
  ol {
    list-style-position: inside;
  }
}

hr {
  display: block;
  border: none;
  border-top: 1px solid var(--colorGrayLight);
  margin: 50px 0;
}

p strong {
  color: var(--colorBlackStrong);
  font-weight: 800;
}

/*** AUTHORS LIST ***/
.po-authors-list {
  font: 0.8rem/1.7 var(--fontDefault);
}

.po-authors-list a:hover {
  text-decoration: none;
}

.po-authors-list h4 {font-weight: bold; margin-bottom: 5px;}
.po-authors-list h4,
.po-authors-list a p {
  margin-left: 75px; 
  color: #4F4F4F; 
}

.po-authors-list li {
  overflow: hidden;
  margin-bottom: 30px;
}
.po-authors-list img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  float: left;
}

.po-list-categs {
  list-style: none;
  /* margin: 20px 0 10px; */
  display: inline-block;
  margin-bottom: 10px;
}

.po-list-categs li {display: inline;}
.po-list-categs li:after {content: ", "; color: #ff0000;}
.po-list-categs li:last-child:after {display: none;}

.po-list-categs li a,
span.po-list-categs {
  display: inline-block;
  color: #ff0000 !important;
  font: normal 0.8rem var(--fontDefault);
}

.po-featured-list .po-list-categs a,
.po-featured-list .po-list-categs {margin-top:  0 !important; padding-top: 0}

/****
** HEADER
****/
#po-header {
  border-bottom: 1px solid var(--colorGrayLight);
}

.Kind-is-home #po-header {border: none;}

#po-header > .po-container {
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
}

.po-logo {
  flex: 1; 
  position: relative;
}

.po-logo a {
  overflow: hidden;
  text-indent: -8888px;
  display: block;
  max-width: 260px;
  width: 100%;
  height: 90px;
  margin: 0 auto;
  background: url(../images/logo-bg-white.png?1) no-repeat center;
  background-size: contain;
  position: relative;
  left: 15px; /** para acertar a centralização do logo **/
}

.po-header-tools {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.po-header-inner .po-minimenu,
.po-header-inner .po-header-tools {
  flex: 1;
}

.po-header-inner {position: relative}

.po-header-inner .po-hide-header {display: none;}

.po-header-social {
  position: absolute;
  padding: 0 20px;
  right: 0;
  top: 20px;
  height: 20px;
}

.Type-is-posts .po-header-social {top:13px;}

.po-header-social li {
  list-style: none;
  display: inline-block;
}
.po-header-social li a {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(/images/social-icons/header-social.png) no-repeat left center;
  background-size: auto 20px;
  text-indent: -999px;
  overflow: hidden;
}

li.po-social-potelegram a {background-position: 0px center;}
li.po-social-poinstagram a {background-position: -30px center;}
li.po-social-potwitter a {background-position: -90px center;}
li.po-social-rss a {background-position: -60px center;}
li.po-social-polinkedin a {background-position: -120px center;}

/*** SEARCH ***/
#po-search-form {
  position: absolute;
  top: 14px;
  left: 110px;
  z-index: 1;
  width: 100%;
  max-width: 800px;
  height: 90px;
  background: #fff;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  transition: opacity 250ms ease-in-out 0s;
}

.po-active {
  pointer-events: all !important;
  opacity: 1 !important;
}


#po-search-form ::-webkit-input-placeholder { /* Edge */font: 1.4rem/1.5 var(--fontDefault);}

#po-search-form :-ms-input-placeholder { /* Internet Explorer 10-11 */font: 1.4rem/1.5 var(--fontDefault);}

#po-search-form ::placeholder {font: 1.4rem/1.5 var(--fontDefault);}

#po-search-form input[type="text"] {
  outline: none;
  width: 100%;
  height: 100%;
  background: #fff;
  font: 1.4rem/1.5 var(--fontDefault);
  border: 1px solid var(--colorGrayLight);
  padding: 20px;
}

.Section-is-posts #po-search-form {height: 60px;}

@media only screen and (max-width: 900px) {
  #po-search-form {
    width: 65%;
  }

  #po-header > .po-container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .po-header-social {
    right: 20px;
    display: none;
  }

}


/*****
** HEADER MENU
****/
#po-menu {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 45px 0 70px;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease-in-out 0s;
  border-top: 5px solid var(--colorRed);
}

.po-sandwich {
  max-width: 30px; 
  display: inline-block;
  cursor: pointer;
}

.po-menu-close {
  cursor: pointer;
  font: bold 0.9rem/1 var(--fontDefault);
  color: #4F4F4F;
  display: block;
  margin: 0 0 50px 20px;
}
.po-menu-close:hover {color: var(--colorRed);}

.po-menu-close:before {
  content: "";
  display: inline-block;
  margin-right: 5px;
  width: 10px;
  height: 10px;
  background: url(../images/close-menu.png) no-repeat left center;
  background-size: cover;
}

.po-menu-close img {
  max-width: 10px;
  display: inline;
  vertical-align: middle;
}

#po-menu .po-menu-categs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

#po-menu .po-menu-categs a {
  flex: 1 0 250px;
  padding: 0 20px 20px;
}

#po-menu .po-menu-categs a h2 {
  font: bold 1.25rem/1 var(--fontDefault);
  transition: all linear .1s;
}

#po-menu .po-menu-categs a p {
  max-width: 265px;
  padding-top: 10px;
  font: .75rem/1.5 var(--fontDefault);
  color: #4F4F4F;
  transition: all linear .1s;
}

#po-menu .po-menu-categs a:hover {text-decoration: none;}

#po-menu .po-menu-categs a:hover * {
  color: var(--colorRed);
  text-decoration: none;
}

#po-menu .po-menu-categs a:hover ~ a h2 {color: #000;}


@media only screen and (max-width: 900px) {
  #po-menu {
    max-height: 100%;
    overflow: auto;
  }
  #po-menu .po-menu-categs a {
    margin-bottom: 30px;
  }
  #po-menu .po-minimenu {
    margin: 20px 0;
  }
}

/*****
** SECTION MENU
****/
.po-section-menu {
  margin-top: 50px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}



/*** SEARCH ***/
.po-search {
  cursor: pointer;
  margin-left: 15px;
  max-width: 30px; 
  display: inline-block;
}

a.lnk-all-articles {padding-left: 30px}

/** SUPPORT HEADER MENU**/
.po-minimenu, a.lnk-all-articles {font: .75rem/1.5 var(--fontDefault);}

.po-minimenu a {
  display: inline-block;
  margin-right: 40px;
}

.po-header-inner .po-minimenu {
  border-top: 0;
  margin: 0;
  flex: 1;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.po-header-inner .po-minimenu a {
  margin-left: 40px;
  margin-right: 0;
  text-align: center;
}

#po-menu .po-container .po-minimenu {
  border-top: 1px solid rgba(0, 0, 0, .1);
  margin: 30px 0 0;
  padding: 30px 0 0 20px;
  text-align: left;
}

@media only screen and (max-width: 900px) {
  .po-logo {
    position: static;
    max-width: 200px;
    margin: 0 20px 0 0;
  }
  #po-header .po-minimenu {display: none;}
  #po-header #po-menu .po-minimenu {display: block;}
  a.lnk-all-articles {padding-left: 10px}
}


.po-align-center {text-align: center !important;}

/*****
** TITLES
*****/
.po-title-h2 {
  color: var(--colorBlack);
  border-bottom: 1px solid var(--colorGrayLight);
  font: bold 1.7rem var(--fontDefault);
  padding-bottom: 30px;
  margin: 70px 0 30px;
  position: relative;
}

.po-title-h2:before {
  position: absolute;
  bottom: -2px;
  left: 0;
  content: "";
  height: 4px;
  background: var(--colorRed);
  width: 120px;
  display: block;
}

.po-align-center.po-title-h2:before {
  left: 50%;
  transform: translateX(-50%);
}


.po-title-h3 {
  color: var(--colorBlack);
  font: bold 1.875rem/1.2 var(--fontDefault);
}

.po-title-h4 {
  color: var(--colorBlack);
  font: 0.9375rem/1.6 var(--fontDefault);
}



/****
** FORMS FIELDS
*****/
input[type="text"], .po-newsletter-footer .email_type {
  border: 1px solid #4F4F4F;
  padding: 10px;
  border-radius:3px;
  vertical-align: middle;
}

/****
** BUTTONS
*****/
.po-btn, .po-newsletter-footer #submit-button {
  display: inline-block;
  background: var(--colorBlack);
  color: #fff;
  cursor: pointer;
  font: 0.9375rem var(--fontDefault);
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  vertical-align: middle;
}

.po-btn:hover, .po-newsletter-footer #submit-button:hover {
  background: #4F4F4F;
  color: #fff;
  text-decoration: none;
}

/*****
*** LISTS PAGES
*****/
.po-section-list, .po-section-head {
  padding: 100px 0;
  margin-bottom: 50px;
  border-bottom: 1px solid #E5E5E5;
}

.po-section-list .po-title-h1 {
  font: bold 1.5rem var(--fontDefault);
  text-align: center;
  color: var(--colorRed);
}

.po-section-list .po-title-h1 strong {
  font: bold 2.5rem var(--fontDefault);
  display: block;
  padding: 10px 0 0;
  color: #000;
}

.po-list-posts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.po-list-posts li {
  flex: 1 0 300px;
  list-style: none;
  padding: 0 10px 100px;
  max-width: 500px;
}

.po-list-posts h4 {
  margin-top: 15px;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0 10px;
}

.po-list-posts li figure {
  max-width: 500px; 
  height: 170px; 
  overflow: hidden;
  position: relative;
}

.po-list-posts li figure img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* max-width: 130%; */
}

.po-list-posts .po-author {
  font: 300 .8rem/1.8 var(--fontDefault);
  display: inline-block;
  padding: 20px 10px 0 10px;
}

.po-list-posts .po-list-categs {
  padding: 10px 0 0;
  margin: 0;
  font-size: 0.75rem;
}

.po-section-head .po-title-h1 + .po-excerpt {
  text-align: center;
  font: 300 1.4rem/1.8 var(--fontDefault);
  max-width: 930px;
  margin: 15px auto 0;
}

.po-title-h1 {
  font: bold 2.5rem var(--fontDefault);
  text-align: center;
  color: var(--colorRed);
}

/****
** LIST SECTION AUTHOR
***/
.po-section-authors {
  text-align: center;
}

.po-section-authors img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.po-section-authors h3 {
  font: bold 2.7rem var(--fontDefault);
  padding: 50px 0 20px;
  margin: 0 auto;
  max-width: 780px;
}

.po-section-authors p {
  font: 300 1.35rem/1.7 var(--fontDefault);
  max-width: 780px;
  color: #4F4F4F;
  margin: 0 auto;
}

/****
 * PMTOOLKIT
****/
.po-page-pm-toolkit .po-page-text {
  max-width: 100%;
}
.po-page-pm-toolkit .po-page-text p {text-align: center;}
.po-page-pm-toolkit .po-section-head {
  border-bottom: none;
  padding-bottom: 50px;
}

.po-toolkit-section {
  border-bottom:  1px solid rgba(0, 0, 0, .15);
  padding-bottom:  100px;
}
.po-toolkit-section:last-child {border: none;}


.po-link-collection {
  display: flex;
  flex-wrap: wrap;
}  

.po-link-collection nav {
  flex: 1 250;
  min-width: 250px;
  margin:  0 20px;
}
.po-link-collection nav ul li {
  line-height: 1.2rem;
  margin-bottom: 5px;
  margin-left: 17px;
}

.po-link-collection a {
  font-size: .9rem;
  position: relative;
}

.po-page-pm-toolkit .po-page-text h2 {
  font-size: 1.2rem;
}

.lang-ptbr {
  position: relative;
  z-index: 0;
}
.lang-ptbr:after {
  content: "🇧🇷";
  vertical-align: middle;
  display: inline-block;
  font-size: 1rem;
  line-height: 1;
  padding-left: 10px;
}

a.po-lnk-backtop {
  display: block;
  text-align: right;
  padding: 50px 0 0;
  font: 1rem/1.8 var(--fontDefault);
}

.po-minimenu-pmtoolkit {
  text-align: center;
  font: 1rem/1.8 var(--fontDefault);
  padding-bottom: 70px;
  border-bottom:  1px solid rgba(0, 0, 0, .15);
}
.po-minimenu-pmtoolkit a {
  display: inline-block;
  padding:  0 20px;
  text-decoration: underline;
}

/*****
** ABOUT PAGE
*****/
.po-page-sobre body {background: url(../images/line.png) no-repeat left -350px fixed;}

.po-about-page {padding: 150px 20px;}

.po-oversee-icon {
  display: block;
  max-width: 200px;
  margin: 0 auto 150px;
}

.po-about-text,
.po-page-text {
  max-width: 700px;
  margin: 0 auto;
}

.po-page-text ul {
  margin: 0 0 20px;
}

.po-about-text p,
.po-about-text li,
.po-page-text p,
.po-page-text li {
  font: 400 1.065rem/1.8 var(--fontArticle);
  color: var(--colorGrayMedium);
  margin-bottom: 25px;
}

.po-about-text li,
.po-page-text  li {margin-bottom: 5px;}
.po-about-text h2,
.po-page-text h2 {font: bold 1.665rem/1.8 var(--fontDefault);}

.po-about-text h3,
.po-page-text h3 {
  padding-top: 5px;
  font: bold 1.365rem/1.8 var(--fontDefault);
}

.po-page-text h1 {
  padding: 100px 0 50px;
  text-align: center;
  font: bold 2rem/1.8 var(--fontDefault);
}

.po-page-text h2 {margin: 25px 0 10px}

/***** BANNERS ****/
.popo-banner-horizontal,
.po-banner-authors,
.po-banner-rightHome {display: none;}


.po-banner-horizontal {
  width: 100%;
  max-width: 900px;
  height: 100%;
  max-height: 300px;
  margin: 30px auto 0;
}

.po-banner-authors {
  position: sticky;
  top: 30px;
}


/*****
** PAGINA DE LISTAGEM DE AUTORES
*****/
.po-list-authors {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.po-list-authors img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.po-list-authors > li {
  padding: 0 30px;
  margin-bottom: 100px;
  flex: 1 0 300px;
  max-width: 300px;
  width: 100%;
  text-align: center;
}

.po-list-authors h3 {
  font-size: 1.5rem;
  padding: 10px 0;
}

.po-list-authors p {
  font: .9rem/1.7 var(--fontDefault);

}


/**** Sponsor Flag ****/
.po-sponsor-flag,
.po-post-vertical-list:first-child .po-sponsor-flag {
  max-width: 65px;
  position: absolute;
  top: 5px;
  left: 5px;
  background: #fff;
  padding: 7px 8px;
  font-size: 0;
  z-index: 1;
  border-radius: 2px
}

.po-post-vertical-list .po-sponsor-flag {
  max-width: 50px
}



.po-author-midia {padding: 30px 0 20px 10px;}
.po-author-midia li {
  list-style: none;
  vertical-align: middle;
  display: inline-block;
}

.po-author-midia a {
  margin: 0 10px 0 0;
  text-indent: -9999px;
  vertical-align: middle;
  overflow: hidden;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.po-author-midia a.po-author-midia-icon-twitter {background-image: url(/images/social-icons/twitter.png);}
.po-author-midia a.po-author-midia-icon-linkedin {background-image: url(/images/social-icons/linkedin.png);}

.po-author-midia a:empty {display: none;}


.po-page-livros-para-pms h2 {
  margin-top:  70px;
  margin-bottom: 25px;
}

.po-page-livros-para-pms .po-page-text ul, .po-library-list {
  list-style:  none;
  display:  flex;
  flex-wrap: wrap;
  align-items: flex-start;
  text-align: center;
}

.po-page-livros-para-pms .po-page-text li, .po-library-list li {
  flex:  1 0 120px;
}

/*.po-page-livros-para-pms li iframe .amazon.amzn-ad-container, .po-library-list li iframe .amazon.amzn-ad-container  {
  width:  100% !important;
  display: none !important;
}*/

/*.po-page-livros-para-pms li iframe, .po-library-list li iframe {
  max-width:  100% !important;
  outline:  1px solid red;
}*/