@import url(reset-variables.css);
@import url(fonts.css);

/****
** HEADER
****/
#po-header {
  border-bottom: 1px solid var(--colorGrayLight)
}

.Kind-is-home #po-header {border: none;}

#po-header .po-container {
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
}

#po-header .po-logo a {
  display: block;
  max-width: 260px;
  margin: 0 auto;
}

.po-header-tools, #po-header-menu {
  flex: 1;
}

.po-logo {flex: 1 1 100px;}

.po-header-tools {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#po-menu {
  display: inline-block;
}

.po-sandwich {max-width: 30px; display: inline-block;}

.po-search {
  margin-left: 15px;
  max-width: 30px; 
  display: inline-block;
}

#po-header-menu {
  font: 1rem var(--fontMono);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#po-header-menu li {
  display: inline-block;
  list-style: none;
  font-size: 0.81rem;
}

#po-header-menu li a {
  display: inline-block;
  padding-left: 35px;
}

@media (max-width: 900px)  {
  #po-header-menu {
    display: none;
  }
}



/*****
** TITLES
*****/
.po-title-h2 {
  color: var(--colorBlack);
  border-bottom: 1px solid var(--colorBlack);
  font: bold 1.56rem var(--fontMono);
  padding-bottom: 30px;
  margin: 70px 0 30px;
}

.po-title-h3 {
  color: var(--colorBlack);
  font: bold 1.875rem var(--fontMono);
}

.po-title-h4 {
  color: var(--colorBlack);
  font: 0.9375rem var(--fontMono);
}