@import url(fonts.css);
@import url(footer.css);

/**** VARIABLES ****/
:root {
  --colorRed: #FF0000;
  --colorBlack: #121212;
  --colorGrayLight: #E5E5E5;
  --fontMono: "The Future Mono 02", monospace;
  --fontArticle: "Work Sans", arial, helvetica, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
  color: var(--colorBlack);
  text-rendering: optimizeLegibility;
}

img {max-width: 100%;}

a {
  color: var(--colorBlack);
  transition: color linear .15s;
  text-decoration: none;
}

a:hover {
  color: #FF0000;
  text-decoration: underline;
}

.po-container {
  margin: 0 auto;
  max-width: 1460px;
  padding: 0 20px;
}

body {
  border-top: 5px solid var(--colorRed);
}

a:hover,
a:hover *,
a:hover ~ a h2,
.po-list-text:hover h2 {color: #ff0000}

a:hover p {color: #000;}


/*** AUTHORS LIST ***/
.po-authors-list {
  font: 0.9375rem var(--fontMono);
}

.po-authors-list a:hover {
  text-decoration: none;
}

.po-authors-list h4 {font-weight: bold; margin-bottom: 5px;}
.po-authors-list h4,
.po-authors-list a p {margin-left: 75px; color: #4F4F4F;}

.po-authors-list li {
  overflow: hidden;
  margin-bottom: 30px;
}
.po-authors-list img {
  max-width: 60px;
  border-radius: 50%;
  float: left;
}

/****
** HEADER
****/
#po-header {
  border-bottom: 1px solid var(--colorGrayLight)
}

.Kind-is-home #po-header {border: none;}

#po-header .po-container {
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
}

#po-header .po-logo a {
  display: block;
  max-width: 260px;
  margin: 0 auto;
}

.po-header-tools, #po-header-menu {
  flex: 1;
}

.po-logo {flex: 1 1 100px;}

.po-header-tools {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#po-menu {
  display: inline-block;
}

.po-sandwich {max-width: 30px; display: inline-block;}

.po-search {
  margin-left: 15px;
  max-width: 30px; 
  display: inline-block;
}

#po-header-menu {
  font: 1rem var(--fontMono);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#po-header-menu li {
  display: inline-block;
  list-style: none;
  font-size: 0.81rem;
}

#po-header-menu li a {
  display: inline-block;
  padding-left: 35px;
}

@media (max-width: 900px)  {
  #po-header-menu {
    display: none;
  }
}



/*****
** TITLES
*****/
.po-title-h2 {
  color: var(--colorBlack);
  border-bottom: 1px solid var(--colorBlack);
  font: bold 1.56rem var(--fontMono);
  padding-bottom: 30px;
  margin: 70px 0 30px;
}

.po-title-h3 {
  color: var(--colorBlack);
  font: bold 1.875rem var(--fontMono);
}

.po-title-h4 {
  color: var(--colorBlack);
  font: 0.9375rem var(--fontMono);
}



/****
** FORMS FIELDS
*****/
input[type="text"] {
  border: 1px solid #4F4F4F;
  padding: 10px;
  border-radius:3px;
  vertical-align: middle;
}


/****
** BUTTONS
*****/
.po-btn {
  display: inline-block;
  background: var(--colorBlack);
  color: #fff;
  cursor: pointer;
  font: 0.9375rem var(--fontMono);
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  vertical-align: middle;
}

.po-btn:hover {
  background: #4F4F4F;
  color: #fff;
  text-decoration: none;
}