
/**** VARIABLES ****/
:root {
  --colorRed: #FF0000;
  --colorBlack: #121212;
  --colorGrayLight: #E5E5E5;
  --fontMono: "The Future Mono 02", monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
  color: var(--colorBlack);
  text-rendering: optimizeLegibility;
}

img {max-width: 100%;}

a {
  color: var(--colorBlack);
  transition: color linear .15s;
  text-decoration: none;
}

a:hover {
  color: #FF0000;
  text-decoration: underline;
}

.po-container {
  margin: 0 auto;
  max-width: 1460px;
  padding: 0 20px;
}

body {
  border-top: 5px solid var(--colorRed);
}

a:hover,
a:hover *,
a:hover ~ a h2,
.po-list-text:hover h2 {color: #ff0000}

a:hover p {color: #000;}


/*** AUTHORS LIST ***/
.po-authors-list {
  font: 0.9375rem var(--fontMono);
}

.po-authors-list a:hover {
  text-decoration: none;

}

.po-authors-list h4 {font-weight: bold; margin-bottom: 5px;}
.po-authors-list h4,
.po-authors-list p {margin-left: 75px}

.po-authors-list li {
  overflow: hidden;
  margin-bottom: 30px;
}
.po-authors-list img {
  max-width: 60px;
  border-radius: 50%;
  float: left;
}