#po-featured-post {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  font-family: var(--fontDefault);
}

#po-featured-post {
  text-decoration: none; 
  color: #fff;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  text-align: left;
  margin-bottom: 20px;
  padding: 0 50px 50px;
}

#po-featured-post .po-author {
  font-size: 0.93rem;
  color: #fff;
  margin-bottom: 30px;
}

#po-featured-post h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.1;
  color: #fff;
  max-width: 700px;
}

#po-featured-post:hover h1 {
  text-decoration: underline;
}

@media only screen and (max-width: 900px) {
  #po-featured-post {
    height: 250px;
  }
  #po-featured-post h1 {
    font-size: 1.4rem
  }
}


.po-hor-list {
  margin: 0 -10px;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.po-hor-list div {
  flex: 1 0 300px;
  margin: 0 10px;
}

.po-hor-list div a {
  color: #000;
  display: inline-block;
}

.po-hor-list div > a {
  width: 100%;
}


.po-hor-list figure {
  max-height: 240px;
  overflow: hidden;
}

.po-hor-list figure img  {
  width: 100%;
}

.po-hor-list h2 {
  font-size: 1.25rem;
  font-weight: bold;
}

.po-hor-list .po-list-categs {padding-left: 10px; display: block;}


.po-list-text:hover {text-decoration: none;}

.po-list-text p {
  font-size: 1rem;
  line-height: 1.8;
  color: #4F4F4F;
  padding: 15px 0 0;
}


@media only screen and (max-width: 900px) {
  .po-hor-list div { 
    margin-bottom: 30px;
  } 

  .po-hor-list figure {
    max-height: 200px;
  }

  .po-list-categs li a {
    font-size: 0.7375rem;
    margin: 5px 0 10px
  }
    
  .po-hor-list h2 {
    font-size: 1rem;
  }

}

/**** 
** Featured Posts
****/
.po-featured-posts {
  margin-bottom: 100px;
}

.po-featured-posts > div {
  display: flex;
  flex-wrap: wrap;

}

.po-first-featured-post,
.po-featured-list .po-post-vertical-list:first-child {
  /* flex: 1 0 300px; */
  max-width: 650px;
  float:left;
  width: 100%;
  margin-right: 30px;
  padding-bottom: 50px;
  display: block;
}
.po-featured-list .po-post-vertical-list:first-child p {display: block;}
.po-featured-list .po-post-vertical-list p {display: none;}

.po-featured-list .po-post-vertical-list:first-child figure {
  width: 100%;
  max-width: 100%;
  display: block;
  width: 655px;
  margin-bottom: 20px;
}

.po-first-featured-post .po-list-categs,
.po-featured-list .po-post-vertical-list:first-child .po-list-categs,
.po-featured-list .po-post-vertical-list:first-child .post-list-categs {
  margin: 25px 0 10px;
}

.po-first-featured-post .po-list-categs,
.po-first-featured-post h2,
.po-first-featured-post p,
.po-featured-list .po-post-vertical-list:first-child .po-list-categs,
.po-featured-list .po-post-vertical-list:first-child h2,
.po-featured-list .po-post-vertical-list:first-child p {
  padding: 0 10px;
}

.po-first-featured-post h2,
.po-featured-list .po-post-vertical-list:first-child h2,
.po-featured-list .po-post-vertical-list:first-child h4.po-title-h4 {
  width: 85%; 
  padding-left: 10px;
}

.po-first-featured-post p,
.po-featured-list .po-post-vertical-list:first-child p {
  padding-top: 10px;
  max-width: 550px;
  font-weight: 400;
  font-family: var(--fontSansSerif);
}

.po-featured-list .po-post-vertical-list:first-child .po-author {padding: 0 0 20px 10px;}

.po-featured-posts ul {
  list-style: none;
  padding-right: 20px;
  width: 100%;
}

.po-featured-posts ul li > img {
  max-width: 100%;
  margin-right: 20px;
}


@media (max-width: 950px)  {
  .po-featured-list {
    width: 100%;
  }

  .po-first-featured-post,
  .po-featured-list .po-post-vertical-list:first-child {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }

  .po-first-featured-post img,
  .po-featured-list .po-post-vertical-list:first-child img {
   width: 100%;
   max-width: 100%;
  }

  .po-featured-list .po-post-vertical-list:first-child figure {
    max-height: 250px;
  }

  .po-featured-posts ul,
  .po-featured-list .po-post-vertical-list:first-child ul {
    padding-right: 0;
  }

  .po-featured-list .po-post-vertical-list,
  .po-featured-list .po-post-vertical-list:first-child {
    float: none;
  }

}


/**** LATEST POSTS ****/
.po-latest-posts {
  margin: 0 100px;
}

.po-post-vertical-list {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 20px;
}

.po-post-vertical-list figure {
  flex: 1 0 188px;
  max-width: 188px;
  margin-right: 20px;
  /*height: 125px;*/
  overflow: hidden;
  position: relative;
}

.po-post-vertical-list > img {
  max-width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


@media (max-width: 950px)  {
  .po-latest-posts {
    margin: 0;
  }

  .po-post-vertical-list {
    margin: 0;
  }

  .po-post-vertical-list figure {
    max-width: 100px;
    max-height: 70px;
  }

  .po-post-vertical-list .po-list-categs li a {
    margin: 0;
    padding: 0;
  }
  
}

.po-authors-list a:hover h4 {
  color: var(--colorRed)
}

.po-authors-list a:hover p {
  color: #000;
}
.po-authors-list li {list-style: none;}
.po-authors-list li > a {
  display: block;
  margin-bottom: 20px;
}

.po-authors-list .po-title-h2 a,
.po-title-h2 a.lnk-all-articles {
  display: inline-block;
  float: right;
  padding-top: 10px;
}

/**** PODCASTS ****/
.po-podcasts-list, .po-authors-list  {
  max-width: 300px;
}

.po-podcasts-list li {
  list-style: none;
  margin-bottom: 20px;
  padding-right: 20px;
}
.po-podcasts-list li a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.po-podcasts-list li h2 {
  padding-left: 20px;
  font: 0.85rem var(--fontDefault);
}

.po-sides {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.po-sides > section {
  flex: 1 0 300px;
}

.po-top {
  padding-bottom:0px;
  padding: 50px 0 0;
  display: flex;
}


.sponsor-stamp {
  display: inline-block;
  background: #fff;
  max-width: 60px;
  padding: 5px 8px 6px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.sponsor-stamp img {max-width: 100%;}


.po-left-list a:hover ~ a h2 {color: var(--colorRed);}
.po-top div {position: relative;}

.po-top .po-left-list,
.po-top .po-right-list {
  flex: 1 0 300px;
}

.po-top .po-right-list > div {
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: 10px;
}

.po-top .po-right-list > div figure {
  flex: 1 0 100px;
  max-width: 100px;
  order: 3;
  width: 100%;
  text-align: right;
}

.po-top .po-right-list > div figure:hover ~ span * {
  color: var(--colorRed);
}

.po-top .po-right-list span {
  flex: 1;
  display: block;
  padding-right: 15px;
}

.po-top .po-left-list div {
  margin-bottom: 30px;
}


.po-middle-post-box {
  margin: 0 20px;

}
#po-middle-post {
  display: block;
  text-align: center;
}
#po-middle-post:hover {text-decoration: none;}
#po-middle-post:hover * {
  color: var(--colorRed);
  text-decoration: none;
}

#po-middle-post .po-author {
  display: block;
  font-size: .8rem;
  text-transform: uppercase;
  font-weight: bold;
}

#po-middle-post h1 {
  padding: 20px 20px 0;
}

#po-middle-post p {
  color: var(--colorGrayMedium);
  padding: 20px 30px;
}

@media (max-width: 950px)  {
  .po-top {
    flex-wrap: wrap;
  }
  #po-middle-post {
    order: 1;
    margin: 0 0 50px;
    padding: 0;
    font-size: 1.2rem;
  }

  #po-middle-post p {
    font-size: 0.9rem;
    padding: 20px 0;
  }

  .po-top .po-left-list {
    order: 2;
    position: relative;
  }
  .po-top .po-right-list {
    position: relative;
    order: 3;
    padding-top: 0px;
  }

  #po-middle-post h1 {
    padding: 20px 0 0;
  }

  .po-first-featured-post h2 {
    width: auto;
    padding: 0;
    font-size: 1.6rem;
  }

  .po-featured-posts {
    margin-bottom: 0;
    position: relative;
  }

  .po-sides > section {
    max-width: 100%;
  }


}

