.Type-is-posts #po-header .po-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.Type-is-posts .po-logo a {
  max-width: 194px;
}

.Type-is-posts .po-list-categs {margin: 20px 0 30px;}
.Type-is-posts .po-list-categs a {font-size: 0.9735rem;}

/*****
** HEADER ARTICLE
*****/
#po-article-header {
  padding: 90px 20px 150px;
  margin-bottom: 120px;
  border-bottom: var(--colorGrayLight) 1px solid;
  text-align: center;
  position: relative;
}

#po-article-header:after {
  content: "";
  display: block;
  height: 5px;
  background: #ff0000;
  width: 70px;
  margin: 0 auto;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%)
}


#po-article-header h1 {
  font: bold 2.5rem/1.3 var(--fontDefault);
  max-width: 875px;
  width: 100%;
  margin: auto
}

#po-article-header h2 {
  font: 300 1.25rem/1.5 var(--fontDefault);
  color: #4F4F4F;
  padding-top: 20px;
  max-width: 715px;
  width: 100%;
  margin: 0 auto;
}


/*****
** COMMON PAGE
*****/
.po-page-text {
  max-width: 700px;
  margin: 100px auto;
}

.po-page-text a {text-decoration: underline;}
.po-page-text a:hover {text-decoration: none;}

.po-page-text p,
.po-page-text li {
  font: 400 1.065rem/1.8 var(--fontArticle);
  color: var(--colorGrayMedium);
  margin-bottom: 25px;
}
.po-page-text li {margin-bottom:7px; line-height: 1.5;}

.po-page-text ol,
.po-page-text ul {margin-bottom: 30px;}

.po-page-text h1 {
  font: bold 2rem/1.8 var(--fontDefault);
  text-align: center;
  margin: 0 0 15px
}

.po-page-text h1 + h2 {
  text-align: center;
  font-weight: normal;
  margin: -10px 0 50px;
}

.po-page-text h2 {
  font: bold 1.665rem/1.8 var(--fontDefault);
}

.po-page-text h3 {
  padding-top: 5px;
  font: bold 1.365rem/1.8 var(--fontDefault);
}

@media only screen and (max-width: 900px) {
  .po-page-text {
    margin-top: 50px;
  }
}

/*****
** ARTICLE 
*****/
#po-article {
  display: flex;
  flex-wrap: wrap;
}

.po-sidebar {
  flex: 1 0 360px;
  order: 1;
  max-width: 300px;
}

.po-article-text {
  flex: 1 0 500px;
  order: 2;
  max-width: 700px;
  width: 100%;
  margin-left: 100px;
  font: 400 1.065rem/1.8 var(--fontArticle);
}

.po-article-text a {
  color: blue;
  text-decoration: underline;
}

.po-article-text a:visited {color: purple;} 
.po-article-text a:hover {color: #ff0000; text-decoration: none;}

.po-disclaimer,
.po-article-text > p:first-of-type > em {
  padding: 20px;
  font-style: italic;
  background: #FFFCDD;
  display: block;
  color: #4F4F4F;
}

.po-article-text p:first-child + hr {display: none;}


.po-single-img {
  height: 360px;
  overflow: hidden;
  margin-bottom: 50px;
  position: relative;
}

.po-single-img img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

hr {
  border: none;
  border-top: 1px solid var(--colorBlack);
  margin-bottom: 30px;
}

.po-single-figure {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.po-single-figure figcaption {
  font-size: 1rem;
  text-align: center;
  color: #4B5563;
}

.po-article-text p img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.po-article-text p,
.po-article-text ul,
.po-article-text ol {
  margin-bottom: 30px;
  color: #313131;
}

.po-article-text li {
  list-style-position: inside;
  margin-bottom: 3px;
}

.po-article-text ul ul,
.po-article-text ol ol {
  margin-left: 15px;
  margin-bottom: 0;
}

pre {
  display: block;
  padding: 10px;
  background: #FFFADF;
  margin-bottom: 30px;
}

.po-article-text h1 {
  font-size: 2rem;
}

.po-article-text h2 {
  font-size: 1.8rem;
  line-height: 1.4;
  margin: 50px 0 15px;
}

.po-article-text h3 {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 20px 0 15px;
}

.po-article-text h4,
.po-article-text h5,
.po-article-text h6 {
  font-size: 1.5rem;
  line-height: 1.3;
  margin: 30px 0 10px;
}

.po-article-text blockquote p {
  color: #4F4F4F;
}
.po-article-text blockquote {
  font: italic 1.3rem/1.9 georgia, times, times new roman, serif;
  line-height: 1.5;
  padding: 20px 30px 1px;
  margin: 40px 0 50px;
  border-left: 5px solid #000;
}


.po-time-read {
  font: 0.75rem var(--fontDefault);
}

/*** AUTHOR SIDEBAR ***/
.po-sidebar-author {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font: 0.75rem var(--fontDefault);
  margin-bottom: 100px;
}

.po-sidebar-author img {
  flex: 1;
  max-width: 60px;
  max-height: 60px;
  border-radius: 50%;
}

.po-sidebar-author div {flex: 1;}

.po-sidebar-author p {
  padding-left: 10px;
  line-height: 1.5rem;
  font-size: 0.9rem;
  color: var(--colorGrayMedium);
}

.po-sidebar-author p a {
  font-weight: bold;
  text-decoration: underline;
}

.po-posts-same-author {
  margin: 100px 0 50px;
}

.po-sidebar {
  font: 1rem var(--fontDefault);
}

.po-sidebar h3 {
  margin-bottom: 10px;
  font-size: 1.1rem
}

.po-sidebar li {
  padding-bottom: 15px;
  font: 0.85rem var(--fontDefault);
}

/**** COMMENTS ****/
.graphcomment-button a {display: none;}
.graphcomment-button a,
.po-lnk-comment {
  text-align: left !important;
  margin-bottom: 20px !important;
  background: transparent url(/images/icon-comments.png) no-repeat left center !important;
  background-size: contain !important;
  padding-left: 33px !important;
  color: #000;
  font: bold 1rem var(--fontDefault);
  cursor:pointer;
}

.graphcomment-button a:before,
.po-lnk-comment:before {
  /* content: "Comentários"; */
  text-transform: capitalize;
  color: #000;
  font: bold 1rem var(--fontDefault);
  display: inline-block;
  position: relative; top: -2px;
}

.graphcomment-button a:hover:before,
.po-lnk-comment:hover:before {color: #FC0D1B !important; }

.graphcomment-button a span  {display: none !important}

.po-float-sidebar {
  position:sticky;
  top: 50px;
}

/* #po-comments {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(150, 150, 150, .9); 
   opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease-in-out 0s;
}

#po-comments .po-comments-inner {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 600px;
  height: 100%;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
} */


@media only screen and (max-width: 900px) {
  .graphcomment-button {display: none !important;}  
  .po-sidebar {
    max-width: 100%;
  }

  .po-article-text {
    max-width: 100%;
    width: auto;
    margin-left: 0;
    padding-top: 30px;
  }
  #po-article-header {
    padding: 50px 20px 70px;
    margin-bottom: 50px;
  }

  #po-article-header h1 {font-size: 1.8rem}
  #po-article-header h2 {font-size: 1rem;}

  #po-article-header .po-list-categs {
    margin: 0 0 30px
  }

  .po-time-read,
  .po-posts-same-author,
  .po-single-img,
  .po-minibio {display: none;}

  .po-sidebar {padding: 0}
  .po-sidebar-author,
  .po-single-img,
  .po-single-img img {margin-bottom: 0}

  .po-author-midia {padding-top: 10px;}

}


.po-sidebar-logo-sponsor {
  text-align: center;
  display: block;
}
.po-sidebar-logo-sponsor img {
  max-width:200px;
}

.po-sponsor-paragraph {
  border-top: 1px solid rgba(0, 0, 0, .1);
  margin: 120px 0 0;
  padding: 50px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.po-sponsor-paragraph a,
.po-sponsor-paragraph p {
  flex: 1;
  margin: 0;
}

.po-sponsor-paragraph img {
  max-width: 100%;
  margin: 0
}
.po-sponsor-paragraph a {
  max-width: 210px;
  margin-right: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
